In [1]:
import pandas as pd
import numpy as np
import datetime
import timeit

In [2]:
df = pd.read_csv('household_power_consumption.txt', sep=';', low_memory=False)
df.isnull().sum()

Date                         0
Time                         0
Global_active_power          0
Global_reactive_power        0
Voltage                      0
Global_intensity             0
Sub_metering_1               0
Sub_metering_2               0
Sub_metering_3           25979
dtype: int64

In [3]:
def handle(df):
    df.rename(columns={'Date':'DateTime'}, inplace=True)
    df['DateTime']+=pd.Series([' ']*len(df.index))+df.Time
    df.drop(columns='Time',inplace=True)
    df['DateTime']=pd.to_datetime(df['DateTime'])
    df.drop(index=df[df.Sub_metering_3.isnull()].index, inplace=True)
    for c in df.columns[1:]:
        df[c]=df[c].astype(float)
    return df

def task1(df):
    return df[df.Global_active_power>5]

def task2(df):
    return df.loc[df.Voltage>235,:]

def task3(df):
    return df[(df.Global_intensity <= 20)&
              (df.Global_intensity >= 19)&
              (df.Sub_metering_2>df.Sub_metering_3)]

def task4(df):
    df4=df.sample(n=500000).sort_index(axis=0)
    print(df4.filter(['Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']).mean())
    return df4
    
def task5(df):
    frame = df.loc[(df.DateTime.dt.time>datetime.time(18))&
                   (df.Global_active_power>6)&
                   (df.Sub_metering_2>=df.Sub_metering_1)&
                   (df.Sub_metering_2>=df.Sub_metering_3)].reset_index(drop=True)
    booleans = [True if ((i+1)%3==0 and (i+1)<len(frame.index)/2) or 
                ((i+1)%4==0 and (i+1)>=len(frame.index)/2) else False for i in frame.index]
    return frame[booleans]

In [4]:
df = handle(df)

In [5]:
task1(df)

,DateTime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,2006-12-16 17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,2006-12-16 17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0
...,...,...,...,...,...,...,...,...
2069356,2010-11-22 18:40:00,5.408,0.150,231.50,23.6,48.0,0.0,0.0
2069357,2010-11-22 18:41:00,5.528,0.144,232.48,24.6,53.0,0.0,0.0
2071586,2010-11-24 07:50:00,5.172,0.050,235.18,22.0,0.0,38.0,17.0
2071587,2010-11-24 07:51:00,5.750,0.000,234.40,24.6,0.0,39.0,17.0
2072997,2010-11-25 07:21:00,5.074,0.240,238.55,21.4,1.0,2.0,18.0

In [6]:
task2(df)

,DateTime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,2006-12-16 17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,2006-12-16 17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,2006-12-16 17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,2006-12-16 17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...
2075254,2010-11-26 20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,2010-11-26 20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,2010-11-26 21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,2010-11-26 21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,2010-11-26 21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [7]:
task3(df)

,DateTime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,2006-12-16 18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,2006-12-17 01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,2006-12-17 01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,2006-12-17 01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,2006-12-17 01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0
...,...,...,...,...,...,...,...,...
2071589,2010-11-24 07:53:00,4.666,0.000,235.72,19.8,0.0,39.0,17.0
2071590,2010-11-24 07:54:00,4.694,0.000,236.78,19.8,0.0,39.0,18.0
2071591,2010-11-24 07:55:00,4.602,0.000,237.08,19.4,0.0,40.0,17.0
2071592,2010-11-24 07:56:00,4.536,0.000,237.03,19.0,0.0,39.0,17.0
2071593,2010-11-24 07:57:00,4.626,0.000,236.78,19.4,0.0,39.0,17.0

In [8]:
d4 = task4(df)
d4

Sub_metering_1    1.138038
Sub_metering_2    1.306226
Sub_metering_3    6.473270
dtype: float64

,DateTime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
7,2006-12-16 17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
8,2006-12-16 17:32:00,3.668,0.510,233.99,15.8,0.0,1.0,17.0
23,2006-12-16 17:47:00,5.174,0.000,234.19,22.0,0.0,0.0,17.0
24,2006-12-16 17:48:00,4.474,0.000,234.96,19.4,0.0,0.0,17.0
...,...,...,...,...,...,...,...,...
2075228,2010-11-26 20:32:00,0.982,0.000,240.20,4.2,0.0,1.0,0.0
2075244,2010-11-26 20:48:00,0.912,0.000,239.25,3.8,0.0,1.0,0.0
2075251,2010-11-26 20:55:00,0.946,0.000,239.74,4.0,0.0,0.0,0.0
2075252,2010-11-26 20:56:00,0.942,0.000,239.41,4.0,0.0,0.0,0.0
2075254,2010-11-26 20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0

In [9]:
task5(d4)

,DateTime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
2,2006-12-28 21:05:00,7.230,0.152,235.22,30.6,1.0,73.0,17.0
5,2006-12-28 21:08:00,7.352,0.000,235.45,31.2,1.0,73.0,17.0
8,2006-12-29 21:18:00,6.150,0.118,230.77,26.6,0.0,70.0,0.0
11,2006-12-29 22:29:00,6.742,0.280,235.03,28.6,0.0,73.0,17.0
14,2007-09-01 20:51:00,7.996,0.100,231.55,34.4,0.0,70.0,16.0
...,...,...,...,...,...,...,...,...
243,2010-01-30 18:44:00,6.840,0.308,234.56,29.2,37.0,37.0,17.0
247,2010-02-23 21:57:00,6.472,0.098,232.72,27.8,0.0,72.0,17.0
251,2010-05-26 19:18:00,6.530,0.222,231.37,28.2,0.0,70.0,12.0
255,2010-11-20 18:20:00,7.114,0.082,229.43,31.0,0.0,68.0,16.0
259,2010-11-20 18:34:00,6.266,0.360,229.82,27.6,14.0,35.0,16.0

In [10]:
test = '''
import pandas as pd
import numpy as np
import datetime

df = pd.read_csv('household_power_consumption.txt', sep=';', low_memory=False)

def handle(df):
    df.rename(columns={'Date':'DateTime'}, inplace=True)
    df['DateTime']+=pd.Series([' ']*len(df.index))+df.Time
    df.drop(columns='Time',inplace=True)
    df['DateTime']=pd.to_datetime(df['DateTime'])
    df.drop(index=df[df.Sub_metering_3.isnull()].index, inplace=True)
    for c in df.columns[1:]:
        df[c]=df[c].astype(float)
    return df

def task1(df):
    return df[df.Global_active_power>5]

def task2(df):
    return df.loc[df.Voltage>235,:]

def task3(df):
    return df[(df.Global_intensity <= 20)&
              (df.Global_intensity >= 19)&
              (df.Sub_metering_2>df.Sub_metering_3)]

def task4(df):
    df4=df.sample(n=500000).sort_index(axis=0)
    print(df4.filter(['Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']).mean())
    return df4
    
def task5(df):
    frame = df.loc[(df.DateTime.dt.time>datetime.time(18))&
                   (df.Global_active_power>6)&
                   (df.Sub_metering_2>=df.Sub_metering_1)&
                   (df.Sub_metering_2>=df.Sub_metering_3)].reset_index(drop=True)
    booleans = [True if ((i+1)%3==0 and (i+1)<len(frame.index)/2) or 
                ((i+1)%4==0 and (i+1)>=len(frame.index)/2) else False for i in frame.index]
    return frame[booleans]
    
df = handle(df)
print(task1(df))
print(task2(df))
print(task3(df))
df4 = task4(df)
print(task5(df4))
'''

timeit.timeit(test, number=1)

                   DateTime  Global_active_power  Global_reactive_power  \
1       2006-12-16 17:25:00                5.360                  0.436
2       2006-12-16 17:26:00                5.374                  0.498
3       2006-12-16 17:27:00                5.388                  0.502
11      2006-12-16 17:35:00                5.412                  0.470
12      2006-12-16 17:36:00                5.224                  0.478
...                     ...                  ...                    ...
2069356 2010-11-22 18:40:00                5.408                  0.150
2069357 2010-11-22 18:41:00                5.528                  0.144
2071586 2010-11-24 07:50:00                5.172                  0.050
2071587 2010-11-24 07:51:00                5.750                  0.000
2072997 2010-11-25 07:21:00                5.074                  0.240

         Voltage  Global_intensity  Sub_metering_1  Sub_metering_2  \
1         233.63              23.0             0.0             1.0
2         233.29              23.0             0.0             2.0
3         233.74              23.0             0.0             1.0
11        232.78              23.2             0.0             1.0
12        232.99              22.4             0.0             1.0
...          ...               ...             ...             ...
2069356   231.50              23.6            48.0             0.0
2069357   232.48              24.6            53.0             0.0
2071586   235.18              22.0             0.0            38.0
2071587   234.40              24.6             0.0            39.0
2072997   238.55              21.4             1.0             2.0

         Sub_metering_3
1                  16.0
2                  17.0
3                  17.0
11                 17.0
12                 16.0
...                 ...
2069356             0.0
2069357             0.0
2071586            17.0
2071587            17.0
2072997            18.0

[17547 rows x 8 columns]
                   DateTime  Global_active_power  Global_reactive_power  \
4       2006-12-16 17:28:00                3.666                  0.528
5       2006-12-16 17:29:00                3.520                  0.522
6       2006-12-16 17:30:00                3.702                  0.520
7       2006-12-16 17:31:00                3.700                  0.520
14      2006-12-16 17:38:00                4.054                  0.422
...                     ...                  ...                    ...
2075254 2010-11-26 20:58:00                0.946                  0.000
2075255 2010-11-26 20:59:00                0.944                  0.000
2075256 2010-11-26 21:00:00                0.938                  0.000
2075257 2010-11-26 21:01:00                0.934                  0.000
2075258 2010-11-26 21:02:00                0.932                  0.000

         Voltage  Global_intensity  Sub_metering_1  Sub_metering_2  \
4         235.68              15.8             0.0             1.0
5         235.02              15.0             0.0             2.0
6         235.09              15.8             0.0             1.0
7         235.22              15.8             0.0             1.0
14        235.24              17.6             0.0             1.0
...          ...               ...             ...             ...
2075254   240.43               4.0             0.0             0.0
2075255   240.00               4.0             0.0             0.0
2075256   239.82               3.8             0.0             0.0
2075257   239.70               3.8             0.0             0.0
2075258   239.55               3.8             0.0             0.0

         Sub_metering_3
4                  17.0
5                  17.0
6                  17.0
7                  17.0
14                 17.0
...                 ...
2075254             0.0
2075255             0.0
2075256             0.0
2075257             0.0
2075258             0.0

[1952491 rows x 8 columns]
                   DateTime  Global_active_power  Global_reactive_power  \
45      2006-12-16 18:09:00                4.464                  0.136
460     2006-12-17 01:04:00                4.582                  0.258
464     2006-12-17 01:08:00                4.618                  0.104
475     2006-12-17 01:19:00                4.636                  0.140
476     2006-12-17 01:20:00                4.634                  0.152
...                     ...                  ...                    ...
2071589 2010-11-24 07:53:00                4.666                  0.000
2071590 2010-11-24 07:54:00                4.694                  0.000
2071591 2010-11-24 07:55:00                4.602                  0.000
2071592 2010-11-24 07:56:00                4.536                  0.000
2071593 2010-11-24 07:57:00                4.626                  0.000

         Voltage  Global_intensity  Sub_metering_1  Sub_metering_2  \
45        234.66              19.0             0.0            37.0
460       238.08              19.6             0.0            13.0
464       239.61              19.6             0.0            27.0
475       237.37              19.4             0.0            36.0
476       237.17              19.4             0.0            35.0
...          ...               ...             ...             ...
2071589   235.72              19.8             0.0            39.0
2071590   236.78              19.8             0.0            39.0
2071591   237.08              19.4             0.0            40.0
2071592   237.03              19.0             0.0            39.0
2071593   236.78              19.4             0.0            39.0

         Sub_metering_3
45                 16.0
460                 0.0
464                 0.0
475                 0.0
476                 0.0
...                 ...
2071589            17.0
2071590            18.0
2071591            17.0
2071592            17.0
2071593            17.0

[2509 rows x 8 columns]
Sub_metering_1    1.122132
Sub_metering_2    1.298852
Sub_metering_3    6.478860
dtype: float64
               DateTime  Global_active_power  Global_reactive_power  Voltage  \
2   2006-12-28 20:58:00                6.386                  0.374   236.63
5   2006-12-29 21:21:00                6.412                  0.136   230.49
8   2006-12-29 22:26:00                6.004                  0.406   236.08
11  2007-07-01 18:05:00                6.828                  0.000   230.90
14  2007-07-01 18:35:00                7.208                  0.300   227.85
..                  ...                  ...                    ...      ...
279 2010-03-27 18:39:00                6.564                  0.074   232.95
283 2010-02-05 19:18:00                6.266                  0.166   232.63
287 2010-06-19 21:44:00                6.058                  0.208   234.84
291 2010-11-20 18:28:00                6.882                  0.186   229.77
295 2010-11-20 18:46:00                6.438                  0.308   229.26

     Global_intensity  Sub_metering_1  Sub_metering_2  Sub_metering_3
2                27.0             1.0            36.0            17.0
5                27.8             0.0            70.0             0.0
8                26.4             0.0            56.0            17.0
11               29.4             0.0            70.0            16.0
14               31.6             0.0            35.0            16.0
..                ...             ...             ...             ...
279              28.0             0.0            71.0            17.0
283              27.0            24.0            71.0             0.0
287              25.8            36.0            36.0            17.0
291              30.4            30.0            35.0            16.0
295              28.4            13.0            39.0            16.0

[86 rows x 8 columns]

269.7866065

In [11]:
df[df.DateTime.dt.date==datetime.date(day=16,month=12, year=2006)]

,DateTime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...
391,2006-12-16 23:55:00,1.290,0.000,240.69,6.8,0.0,0.0,0.0
392,2006-12-16 23:56:00,2.730,0.060,239.43,11.4,0.0,1.0,0.0
393,2006-12-16 23:57:00,2.734,0.062,239.81,11.4,0.0,2.0,0.0
394,2006-12-16 23:58:00,2.764,0.066,241.27,11.4,0.0,1.0,0.0
395,2006-12-16 23:59:00,2.586,0.070,241.63,11.0,0.0,1.0,0.0